.card {
  max-width: 600px;
}

button + button {
  margin-left: 16px;
}

@media only screen and (max-width: 600px) {
  button + button {
    margin-left: 0px;
    margin-top: 10px;
    display: block;
  }
}

.cadastrar {
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.1rem;
}

.cancelar {
  background-color: #b0b8e4;
  color: #fff;
  font-size: 1.1rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.field {
  border-color: #3f51b5 !important;
}

.field input {
  color: #3f51b5 !important;
}

.title {
  line-height: 1.6rem;
}
