<mat-card class="card">
  <mat-card-title>Cadastrar Novo Produto</mat-card-title>

  <form class="form">
    <mat-form-field class="field">
      <input
        matInput
        placeholder="nome"
        name="nome"
        [(ngModel)]="produto.nome"
      />
    </mat-form-field>
    <mat-form-field class="field">
      <input
        matInput
        placeholder="Preço (R$)"
        name="preco"
        [(ngModel)]="produto.preco"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="sucesso()" class="cadastrar">
    Cadastrar
  </button>

  <button mat-raised-button (click)="cancelar()" class="cancelar">
    Cancelar
  </button>
</mat-card>
