.nav-toolbar {
  margin-bottom: 60px;
  background-color: #b0b8e4;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav img {
  height: 45px;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav p {
  margin: 0px;
}

.nav ul li {
  margin-left: 20px;
  margin-right: 5px;
}
