<mat-sidenav-container class="navegacao-container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="">
        <p class="material-icons">home</p>
        <p>Início</p>
      </a>

      <a mat-list-item routerLink="produtos">
        <p class="material-icons">store</p>
        <p>Produtos</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
